* {
  margin: 0;
  padding: 0
}

.navbar-pages {
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  top: 20%;
}

.navbar-pages a {
  display: block;
  padding: 0.5rem 0.5rem;
  /* Adjust the padding to make it smaller */
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-pages a:hover,
.navbar-pages a:focus {
  background-color: #fff;
  color: #333;
  text-decoration: underline;
}

/* CSS for the taskbar */
.navbar-pages ul {
  list-style-type: none;
  padding: 0px;
}

.navbar-pages ul li {
  display: inline;
}

.navbar-pages ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-pages li {
  margin: 0 2rem;
  /* Adjust the spacing between items */
}

.navbar-pages a {
  padding: 0.25rem 0.5rem;
  /* Adjust the padding to make it smaller */
}

.navbar-hours {
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  top: 30%;
}

.navbar-hours a {
  display: block;
  padding: 0.5rem 0.5rem;
  /* Adjust the padding to make it smaller */
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-hours a:hover,
.navbar-hours a:focus {
  background-color: #fff;
  color: #333;
  text-decoration: underline;
}

/* CSS for the taskbar */
.navbar-hours ul {
  list-style-type: none;
  padding: 0px;
}

.navbar-hours ul li {
  display: inline;
}

.navbar-hours ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-hours li {
  margin: 0 2rem;
  /* Adjust the spacing between items */
}

.navbar-hours a {
  padding: 0.25rem 0.5rem;
  /* Adjust the padding to make it smaller */
}

.navbar-days {
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  top: 25%;
}

.navbar-days a {
  display: block;
  padding: 0.5rem 0.5rem;
  /* Adjust the padding to make it smaller */
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-days a:hover,
.navbar-days a:focus {
  background-color: #fff;
  color: #333;
  text-decoration: underline;
}

/* CSS for the taskbar */
.navbar-days ul {
  list-style-type: none;
  padding: 0px;
}

.navbar-days ul li {
  display: inline;
}

.navbar-days ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-days li {
  margin: 0 2rem;
  /* Adjust the spacing between items */
}

.navbar-days a {
  padding: 0.25rem 0.5rem;
  /* Adjust the padding to make it smaller */
}

.logo img {
  width: 10%;
  height: auto;
}

.image-container .logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.search-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.99;
  z-index: 100;
  top: 10%;
  left: 20%;
  width: 60%;
  border-radius: 15px;
  padding: 10px;
}

 .search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.search-input input[type="text"] {
  flex: 1;
  padding: 5px;
  width: 60%;
  height: 2rem;
  border: none;
  border-radius: 3px;
}

.search-input button {
  padding: 5px 15px;
  background-color: #435372;
  color: white;
  border: none;
  cursor: pointer;
  height: 43px;
  border-radius: 3px;
}

.options-list {
  list-style: none;
  position: absolute;
  top: 100%;
  flex-direction: column;
  left: 21%;
  align-items: left;
}

.options-list button {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.options-list button:hover {
  background-color: #5a6b8f;
}

.DateTimeDay {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}

.weather-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}