*{
  margin: 0;
  padding: 0
}



.navbar {
  position: flex;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: calc(100vh - 50vh)
}

.navbar a {
  display: block;
  padding: 0.5rem 0.5rem;
  /* Adjust the padding to make it smaller */
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover,
.navbar a:focus {
  background-color: #fff;
  color: #333;
  text-decoration: underline;
}

/* CSS for the taskbar */
.navbar ul {
  list-style-type: none;
  padding: 0px;
}

.navbar ul li {
  display: inline;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin: 0 2rem;
  /* Adjust the spacing between items */
}

.navbar a {
  padding: 0.25rem 0.5rem;
  /* Adjust the padding to make it smaller */
}

.logo img {
  width: 10%;
  height: auto;
}

.image-container .logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.search-container {
  justify-content: center;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0.99;
  z-index: 100;
  top: 10%;
  left: 20%;
  /* Decrease the left value to move it further to the left */
  width: 60%;
  /* Adjust the width to make it longer */
  border-radius: 15px;
  padding: 10px;
}

.search-container input[type="text"] {
  padding: 5px;
  width: 60%;
  /* Make the input field expand to the full width of the container */
  height: 2rem;
  border: none;
  border-radius: 3px;
}

.search-container button {
  padding: 5px 15px;
  background-color: #435372;
  color: white;
  border: none;
  cursor: pointer;
  height: 43px;
  border-radius: 3px;
}

.search-container button:hover {
  background-color: #333;
}

.DateTimeDay {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  

}

/*.App-link {
  color: #61dafb;
}*/